<span>
    <form id="cultureForm" asp-action="Setlanguage" asp-controller="Home" method="post">
        <select id="cultureList">
           <option value="">- Select lang -</option>
            <option value="en-US">English</option>
            <option value="kk-KZ">Kazakh</option>
            <option value="ru-RU">Russian</option>
        </select>
    </form>
</span>